.c-form{

    margin: 60px 0;

    &__label{
        font-family: Morty;
        color: var(--color-blue);
        font-size: 1.8rem;
    }

    &__input{
        position: relative;
        bottom: 10px;
    }

    &__error{
        color: red;  
    }

}