<form class="c-form" [formGroup]="contactForm" (ngSubmit)="submitForm()">

    <label class="c-form__label">
        <div class="row">
            <div class="col-2">
                <span>Name </span>
            </div>
            <div class="col-2">
                <input class="c-form__input" id="name" formControlName="name" type="text">
            </div>
            <div class="col-8">
                <span class="c-form__error" *ngIf="submitted && contactForm.get('name').errors">Name is required and min lenght is 4</span>            
            </div>
        </div>
    </label>

    <label class="c-form__label">
        <div class="row">
            <div class="col-2">
                <span>Email </span>
            </div>
            <div class="col-2">
                <input class="c-form__input" formControlName="email" type="email">
            </div>
            <div class="col-8">
                <span class="c-form__error" *ngIf="submitted && contactForm.get('email').errors">Email is required</span>            
            </div>
        </div>
    </label>

    <label class="c-form__label">
        <div class="row">
            <div class="col-2">
                <span>Message </span>
            </div>
            <div class="col-2">
                <textarea class="c-form__textarea" formControlName="message"></textarea>
            </div>
            <div class="col-8">
                <span class="c-form__error" *ngIf="submitted && contactForm.get('message').errors">Message is required and min length is 10</span>            
            </div>
        </div>
    </label>

    <label class="c-form__label">
        <div class="row">
            <div class="col-2">
                <span>Are you human? </span>
            </div>
            <div class="col-2">
                <input class="c-form__input" formControlName="check" type="checkbox">
            </div>
            <div class="col-8">
                <span class="c-form__error" *ngIf="submitted && contactForm.get('check').errors">Only humans can fill this form</span>            
            </div>
        </div>
    </label>

    <input class="c-form__submit" type="submit" value="Enviar">

</form>
