<div class="c-detail">

    <div class="row">

        <div class="col-12 col-md-6">
            <h1>{{character.name}}</h1>
            <img src="{{character.image}}">
        </div>
     

        <div class="col-12 col-md-6 mt-5">
            <div class="row">
                <div class="col-3">
                    <div class="c-detail__label">
                        <h3>Species: </h3>
                        <h3>Gender: </h3>
                        <h3>Status: </h3>
                        <h3>Planet: </h3>
                        <h3>Created: </h3>
                    </div>
                </div>
                <div class="col-9">
                    <div class="c-detail__data">
                        <h2>{{character.species}}</h2>
                        <h2>{{character.gender}}</h2>
                        <h2>{{character.status}}</h2>
                        <h2>{{character.origin.name}}</h2>
                        <h2>{{character.created}}</h2>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>
