<div class="c-favourites">

    <div class="mb-5">
        <input [(ngModel)]="search" type="text">
        <button (click) = "serchAll()">Search</button>
    </div>

    <app-gallery [data]="favourites"></app-gallery>

</div>
