<div class="c-detail-location">

    <div class="row">

        <div class="col-12 col-md-5">
            <h1>{{location.name}}</h1>
            <img src="/assets/img/planet.png">
        </div>
     

        <div class="col-12 col-md-7 mt-5">
            <div class="row">
                <div class="col-3">
                    <div class="c-detail-location__label">
                        <h3>Dimension: </h3>
                        <h3>Type: </h3>
                        <h3>Created: </h3>
                    </div>
                </div>
                <div class="col-9">
                    <div class="c-detail-location__data">
                        <h2>{{location.dimension}}</h2>
                        <h2>{{location.type}}</h2>
                        <h2>{{location.created}}</h2>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>

