<div class="c-locations">

    <div class="mb-5">
        <input [(ngModel)]="search" type="text">
        <button (click) = "searchLocation()">Search</button>
    </div>

    <app-gallery (clickEmitter)="openDetail($event)" [data]="locations"></app-gallery>

</div>

