.c-gallery{

    &__img{
        border: 6px solid var(--color-purple);
    }

    &__p{
        color: var(--color-blue);
        font-family: Morty;
        font-size: 3rem;
        margin-top: 5px;
    }

}