<div class="c-gallery">

    <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of data">

            <button class="mb-2" (click)="favouritesService.addFavourite(item)">Favourite</button> 
            <img (click)="emitId(item.id)" class="c-gallery__img" src="{{item.image ? item.image : '/assets/img/planet.png'}}" />
            <p class="c-gallery__p">{{item.name}}</p>
    
        </div>  

    </div>

</div>



