<div class="b-characters">

    <div class="mb-5">
        <input [(ngModel)]="search" type="text">
        <button (click) = "serchCharacter()">Search</button>
    </div>

    <app-gallery (clickEmitter)="openDetail($event)" [data]="characters"></app-gallery>

</div>

