/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';

@font-face {
    font-family: Rick;
    src: url(assets/fonts/get_schwifty.ttf) format('truetype');
}

@font-face {
    font-family: Morty;
    src: url(assets/fonts/rick_and_morty_font_by_starriichan_d9h2vl6.ttf) format('truetype');
}

:root{
    --color-blue: #3a6aec;
    --color-purple: rgb(100, 28, 184);
}

img{
    max-width: 100%;
}