<nav class="c-nav">
    <a class="c-nav__link m-5" routerLink="" routerLinkActive="c-nav__link--active" [routerLinkActiveOptions]="{ exact:true }">HOME</a>
    <a class="c-nav__link m-5" routerLink="characters" routerLinkActive="c-nav__link--active">CHARACTERS</a>
    <a class="c-nav__link m-5" routerLink="locations" routerLinkActive="c-nav__link--active">LOCATIONS</a>
    <a class="c-nav__link m-5" routerLink="contact" routerLinkActive="c-nav__link--active">CONTACT</a>
    <a class="c-nav__link m-5" routerLink="favourites" routerLinkActive="c-nav__link--active">FAVOURITES</a>
</nav>

