.c-nav{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__link{

        font-family: Rick;
        font-size: 3rem;
        color: var(--color-blue);
        text-decoration: none;

        &--active, &:hover{
            color: var(--color-purple)
        }

    } 
}